<h3>Hi <%=@fb_user['first_name']%>,</h3>

<p>I am sorry that you are not currently registered.</p>
<p>Please <a href="<%=@fb_owner_link%>" target="_blank">alert me</a> if you think that this was a mistake.</p>